doctype html
html
  include inc/head.jade
  body()
    
    form
      b Ваше имя:
      br
      p
        input.name#name(name='firstname', type='text')
        .button
          | Войти
    
    .chat
      .content
      textarea.comment(placeholder='Ваше сообщение')
      .post
      
    
    .menu
      input.play_pause(type='button', value='Play/Pause')
      input.stop(type='button', value='Stop')
      p.lifes 10
      p.points 0
    
    #mainContent
      img#square.square
    
    
    // #honey()
    //   img(src='images/honey.png')
    
    // #bee
    //   img(src='/images/bee.png')
    
    