doctype html
html
  include inc/head.jade
  body()
    
    form
      b Ваше имя:
      br
      p
        input.name#name(name='firstname', type='text')
        .button
          | Войти
    
    .chat
      .content
      textarea.comment(placeholder='Ваше сообщение')
      .post
      
    
    .menu
      input.play_pause(type='button', value='Play')
      // input.stop(type='button', value='Stop')
      .bg
        span ♥ 
        span.lifes 3
      p.points#points 
        | 0
    .end    
    .restart
      a(href='http://js-leoda.c9.io/') Restart
    
    // .mainContent1
    //   .square1
    // .mainContent2
    //   .square2
    // .mainContent3
    //   .square3  
    
    
    // #honey()
    //   img(src='images/honey.png')
    
    // #bee
    //   img(src='/images/bee.png')
    
    